<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.mmall">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 自动为配置@AspectJ切面的bean创建代理，织入切面-->
    <aop:aspectj-autoproxy/>

    <!--1.加载数据库配置文件-->
    <!--2.配置数据库连接池-->
    <!--3.配置SqlsessionFactory-->
    <!--4.扫描dao 的mapper接口-->

    <!--加载数据库配置文件-->
    <!--context:property-placeholder 只能存在一个多个只读取第一个其余忽略-->
    <context:property-placeholder location="classpath:datasource.properties,classpath:redis.properties"/>

    <!--数据库druid连接池-->
    <bean id="datasource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--基础属性-->
        <property name="driverClassName" value="${db.driverClassName}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <!-- 配置监控统计拦截的filters -->
        <property name="filters" value="stat"/>
        <!-- 配置初始化大小、最小、最大 -->
        <property name="maxActive" value="20"/>
        <property name="initialSize" value="1"/>
        <property name="minIdle" value="1"/>
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="60000"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxOpenPreparedStatements" value="20"/>
    </bean>

    <!--配置sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="datasource"/>
        <!-- 扫描mapper配置文件 -->
        <property name="mapperLocations" value="classpath:mappers/*Mapper.xml"/>
        <!-- 扫描mybatis配置文件 -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <!-- 为实体类配置别名 -->
        <property name="typeAliasesPackage" value="com.mmall.pojo"/>

        <!--&lt;!&ndash; 分页插件 &ndash;&gt;-->
        <!--<property name="plugins">-->
        <!--<array>-->
        <!--<bean class="com.github.pagehelper.PageHelper">-->
        <!--<property name="properties" value="dialect=mysql"/>-->
        <!--</bean>-->
        <!--</array>-->
        <!--</property>-->
    </bean>

    <!-- 扫描dao接口 注入到spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入sqlSessionFactoryBean -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 扫描dao接口 -->
        <property name="basePackage" value="com.mmall.dao"/>
    </bean>
</beans>
